@import '../styles/colors';
@import '../styles/constants';
@import '~@azure-iot/ux-fluent-controls/lib/common/mixins';
@import '../styles/normalize';


.app {
  text-align: center;
  height: 100vh;

  @include themify {
    background-color: themed('color-bg-content');
    color: themed('color-text-rest');
  }
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  height: 150px;
  padding: 20px;

  @include themify {
    background-color: themed('color-bg-header');
    color: themed('color-text-header');
  }
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
  margin-top: $gutter-bigger;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
