@import "../styles/constants";
@import "../styles/colors";

.app {
  text-align: center;
  height: 100vh;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  height: 150px;
  padding: 20px;
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
  margin-top: $gutter-bigger;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@include themify {
  .app {
    background-color: themed('color-bg-content');
    color: themed('color-text-rest');
  }

  .header {
    background-color: themed('color-bg-header');
    color: themed('color-text-header');
  }
}