@import "./color.palette";

$color-semi-transparent-black: rgba($color-black, 0.8);
$color-half-opacity-black: rgba($color-black, 0.5);
$color-third-opacity-black: rgba($color-black,0.32);
$color-half-opacity-neutral-secondary-alt: rgba($color-neutral-secondary-alt-4, 0.5);

$color-bg-addon: transparent;
$color-bg-alert-error: $color-red-5;
$color-bg-alert-info: $color-neutral-tertiary-alt-2;
$color-bg-alert-warning: $color-yellow-3;
$color-bg-balloon: $color-neutral-primary;
$color-bg-blastshield: $color-half-opacity-black;
$color-bg-btn-danger-default: $color-red-3;
$color-bg-btn-danger-hover: $color-red-4;
$color-bg-btn-danger-pressed: $color-red-4;
$color-bg-btn-inline: $color-light-grey-4;
$color-bg-btn-primary-default: $color-theme-primary;
$color-bg-btn-primary-disabled: $color-blue-3;
$color-bg-builder-icon-active-default: $color-theme-primary;
$color-bg-dark: $color-black;
$color-bg-masthead-hover: $color-cool-grey-3;
$color-bg-masthead: $color-black;
$color-bg-navbar-active: $color-neutral-primary-alt;
$color-bg-pressed: $color-theme-primary-alt;
$color-bg-search-facet: $color-theme-primary;
$color-bg-selected-disabled: $color-neutral-tertiary;
$color-bg-selected: $color-theme-primary-alt;
$color-bg-sidebar-active: $color-cool-grey-5;
$color-bg-sidebar: $color-cool-grey-6;
$color-bg-subheader-action-menu-active: $color-light-grey-5;
$color-bg-subheader-builder: $color-theme-dark;
$color-bg-table-status-tick-green: $color-green;
$color-bg-table-status-tick-organge: $color-orange;
$color-bg-thumbnail-user: $color-cool-grey-5;
$color-bg-design-mode: $color-theme-primary;
$color-border-context-menu: $color-light-grey-1;
$color-border-dropdown: $color-light-grey-1;
$color-border-editable-header-input-hover: $color-neutral-tertiary;
$color-border-error: $color-theme-error;
$color-border-inactive: $color-neutral-tertiary-alt;
$color-border-masthead-toolbar: $color-light-grey-4;
$color-border-masthead: $color-cool-grey-4;
$color-border-searchbar: none;;
$color-border-selected-hover: $color-theme-dark;
$color-border-selected: $color-theme-primary;
$color-border-subheader-action-menu: $color-light-grey-4;
$color-border-table-header: $color-light-grey-4;
$color-border-tooltip: $color-neutral-secondary-alt;
$color-disabled-light: $color-light-grey-1;
$color-disabled: $color-cool-grey-5;
$color-chart-multiple-events: $color-neutral-tertiary;
$color-chart-multi-state-pattern: $color-neutral-secondary-alt;
$color-grid-hover: $color-pale-blue;
$color-grid-selected: $color-dark-lavender;
$color-grid-status-default: $color-light-grey-2;
$color-grid-status-green: $color-green;
$color-grid-status-orange : $color-orange;
$color-guidance: $color-pale-yellow;
$color-header-disabled: $color-neutral-light;
$color-icon-placeholder: $color-goldenrod;
$color-link-disabled: $color-neutral-tertiary;
$color-link-pressed: $color-blue-1;
$color-link-visited: $color-blue-2;
$color-link-design-mode: $color-theme-light;
$color-link-design-mode-hover: $color-malibu;
$color-nav-gradient: $color-semi-transparent-black;
$color-shadow-gradient-pane: $color-half-opacity-neutral-secondary-alt;
$color-shadow-gradient: $color-semi-transparent-black;
$color-standard-shadow: $color-third-opacity-black;
$color-stroke-gap: $color-neutral-tertiary;
$color-symbol-fill: $color-white;
$color-symbol-stroke: $color-white;
$color-text-alert: $color-neutral-primary;
$color-text-alpha: $color-true-orange;
$color-text-beta: $color-yellow-4;
$color-text-bright: $color-white;
$color-text-chevron: $color-neutral-tertiary;
$color-text-dark: $color-black;
$color-text-error: $color-theme-error;
$color-text-gallery-card-banner: $color-white;
$color-text-hover: $color-theme-primary-alt;
$color-text-icon-placeholder: $color-grey-3;
$color-text-init: $color-true-red;
$color-text-label: $color-cool-grey-2;
$color-text-link-disabled: $color-neutral-secondary-alt-5;
$color-text-link: $color-theme-primary;
$color-text-masthead-sub-label: $color-light-grey-2;
$color-text-placeholder: $color-neutral-tertiary;
$color-text-rc: $color-true-green;
$color-text-required: $color-theme-error;
$color-text-subtitle: $color-cool-grey-5;
$color-text-visited: $color-blue-2;
$color-theme-error: $color-red-6;
$color-track-border: $color-theme-primary;