// first import the color palette:
@import "~@azure-iot/ux-fluent-css/src/color.palette";

// specify overrides/extensions for the themes:
$theme-dark: (
    color-bg-header: $color-grey-1200,
    color-bg-content: #3d4147,
    color-text-header: $color-white,
);

$theme-light: (
    color-bg-header: $color-grey-800,
    color-text-header: $color-white,
);