@import "./color-variables";

$color-bg-block: $color-white;
$color-bg-btn-light: $color-neutral-light;
$color-bg-btn-primary-hover: $color-theme-dark;
$color-bg-btn-primary-pressed: $color-theme-dark;
$color-bg-btn-secondary-default: $color-grey-2;
$color-bg-btn-secondary-hover: $color-grey-4;
$color-bg-btn-secondary-pressed: $color-grey-4;
$color-bg-chart: $color-white;
$color-bg-configure-pane-container: $color-neutral-lighter;
$color-bg-content: $color-neutral-lighter;
$color-bg-dashboard-actionbar: $color-neutral-secondary-alt-4;
$color-bg-default: $color-white;
$color-bg-disabled: $color-neutral-tertiary-alt-2;
$color-bg-field-loading: $color-neutral-light;
$color-bg-form: $color-white;
$color-bg-gallery-card-banner: $color-neutral-primary;
$color-bg-gallery-card-blue: $color-theme-primary;
$color-bg-gallery-card-red: $color-red-5;
$color-bg-gallery-card-solid: $color-neutral-tertiary-2;
$color-bg-gallery-card-yellow: $data-color-4;
$color-bg-gallery-card: $color-neutral-light;
$color-bg-hover: $color-theme-lighter;
$color-bg-management-list: $color-white;
$color-bg-measurement: $color-white;
$color-bg-navbar: $color-neutral-primary;
$color-bg-overlay: $color-half-opacity-black;
$color-bg-pane: $color-neutral-light;
$color-bg-panel: $color-white;
$color-bg-react-grid-item: $color-neutral-tertiary-alt;
$color-bg-searchbar: $color-neutral-lighter-alt;
$color-bg-select-default: $color-neutral-light;
$color-bg-selected-hover: $color-theme-dark;
$color-bg-separator: $color-neutral-light;
$color-bg-tabbed-pane-small: $color-neutral-light;
$color-bg-table-status-tick: $color-neutral-tertiary-alt-2;
$color-bg-tile: $color-white;
$color-bg-upload: $color-neutral-tertiary-2;
$color-border-active: $color-neutral-primary;
$color-border-default: $color-neutral-tertiary-alt;
$color-border-disabled: $color-neutral-tertiary-alt-2;
$color-border-gallery-card-default: $color-neutral-tertiary;
$color-border-gallery-card-hover: $color-neutral-primary;
$color-border-inactive: $color-neutral-tertiary-alt;
$color-border-searchbox: $color-neutral-lighter;
$color-border-section-separator: $color-neutral-tertiary-alt-2;
$color-border-selected-disabled: $color-neutral-secondary-alt-5;
$color-chart-ticks: $color-neutral-secondary-alt-4;
$color-chart-multi-state-pattern: $color-neutral-tertiary-alt-2;
$color-header-accent: $color-theme-primary;
$color-header: $color-neutral-tertiary-alt-2;
$color-item-active: $color-theme-light;
$color-item-hover: $color-theme-lighter;
$color-layout-divider: $color-neutral-tertiary-alt-2;
$color-link-default: $color-blue-2;
$color-link-hover: $color-blue-1;
$color-loading: $color-neutral-secondary-alt-3;
$color-outline-default: $color-neutral-tertiary-alt-2;
$color-outline-focus: $color-neutral-primary;
$color-picker-border-inner: $color-yellow-1;
$color-picker-border-outer: $color-red-2;
$color-shadow-neutral-tertiary-alt: $color-neutral-tertiary-alt-2;
$color-status-reported-error: $color-red;
$color-status-reported-success: $color-green;
$color-status-syncing: $color-yellow-2;
$color-stroke-default: $color-neutral-tertiary-alt;
$color-text-cancel: $color-neutral-secondary-alt;
$color-text-default: $color-black;
$color-text-disabled: $color-grey-1;
$color-text-gallery-card-content: $color-neutral-secondary-alt-2;
$color-text-gallery-card-header: $color-neutral-primary;
$color-text-inactive: $color-neutral-secondary-alt;
$color-text-neutral-primary-alt-2: $color-neutral-primary-alt-2;
$color-text-neutral-primary: $color-neutral-primary;
$color-text-neutral-secondary-alt-3: $color-neutral-secondary-alt-3;
$color-text-neutral-secondary-alt: $color-neutral-secondary-alt;
$color-text-neutral-tertiary: $color-neutral-tertiary;
$color-text-select-option-disabled: $color-grey-1;