
@import "normalize";

// Our overrides + layout + colors + datepicker + colorpicker + toggle
@import "typography";
@import "colors";
@import "mixins";
@import "constants";
@import "icons";

// bootstrap copy pasta to remove bootstrap as dependency
body {
    margin: 0;
    padding: 0;
    font-family: $font-family-default;
    font-size: $font-size-default;
    line-height: $line-height-base;
    color: $color-text-default;
}


html {
    overflow: hidden;
}

* {
    @include box-sizing(border-box);
  }
*:before,
*:after {
    @include box-sizing(border-box);
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:global {

// override bootstrap's vertical margins for headings since we override
// heading sizes in overrides.scss
h1, .h1,
h2, .h2,
h3, .h3 {
    margin-top: $gutter-small / 2;
    margin-bottom: $gutter-small / 2;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-default;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: ($gutter-small / 2);
  margin-bottom: ($gutter-small / 2);

  small,
  .small {
    font-size: 65%;
  }
}
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: ($gutter-small / 2);
    margin-bottom: ($gutter-small / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }


// Body text
// -------------------------

p {
  margin: 0 0 ($line-height-computed / 2);
}

label {
    font-weight: normal;
}

a {
    color: $color-link-default;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color-link-hover;
    }

    &:focus {
        @include tab-focus;
    }
}

// Unordered and Ordered lists
ul,
ol {
    margin-top: 0;
    margin-bottom: ($line-height-computed / 2);

    ul,
    ol {
        margin-bottom: 0;
    }
}

// Description Lists
dl {
    margin-top: 0; // Remove browser default
    margin-bottom: $line-height-computed;
}
dt,
dd {
    line-height: $line-height-base;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0; // Undo browser default
}

.page-header {
    margin-top: $gutter-big;
    margin-bottom: $gutter-big;
    border: none;
}

.centered-block {
    display: block;
    position: absolute!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered-ring {
    display: block;
    width: $loading-large-size;
    height: $loading-large-size;
    position: absolute!important;
    top: calc(50% - #{$loading-large-size / 2});
    left: calc(50% - #{$loading-large-size / 2});
}

.inline-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.noitems-container {
    height: calc(100% - #{$gutter-big});
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text-disabled;
}

.changed {
    font-style: italic;
}

.deleted {
    @extend .changed;
    text-decoration: line-through;
}

.sidebar-image-container {
    min-width: $field-width;
    padding: $pane-gutter + $narrow-gutter;
    padding-top: $pane-gutter;
    padding-bottom: 0;
}

// rtl fix for input group addon - @include rtl does not work
.rtl {
    direction: rtl;

    .radio-inline {
        padding-right: 20px;

        input[type=radio] {
            margin-left: 0px;
            margin-right: -20px;
        }
    }
}


.section-header {
    font-family: $font-family-light;
    font-weight: $font-weight-light;
}

.hidden {
    display: none !important;
}

}
